<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0.3" package="com.shankarpokhrel.cmapp" android:installLocation="auto" android:versionCode="3">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="26" />
	<application android:label="ShankarPokhrel" android:icon="@drawable/icon"></application>
</manifest>